*{box-sizing: border-box;}


body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #FF4500, #8A2BE2);
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

div{
    position: relative;
    transition: display .3s ease;
}

.errors{
    font-size: 10px;

}

.cadastro{
    width: 600px;
	height: 1000px;
	background: rgb(255 , 0, 0);
	overflow: hidden;
	background: linear-gradient(to bottom, #270f0f, #be2020, #351c1c);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    padding: 10px 50px;
    position: relative;
}

.about{
    width: 40%;
	height: 24px;
	margin: 20px auto;
	justify-content: center;
	display: flex;
    background-color: rgb(172, 184, 17);
    color: white;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

h1{
    color: #fff;
	font-size: 3.0em;
    align-items: center;
	justify-content: center;
	display: flex;
	margin: 30px;
	margin-bottom: 80px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
label{
    color: #fff;
	font-size: 1.5em;
    align-items: center;
	justify-content: center;
	display: flex;
	margin: 10px;
	margin-bottom: 0px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;  
}

span{
    color: rgb(172, 184, 17);
}

.first{
    border: 2px solid #ccc;
    position: relative;
	width:100%;
	height: 100%;
}

.control{
    width: 60%;
	height: 50px;
	margin: 20px auto;
	justify-content: left;
	display: block;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.control button{
	cursor: pointer;
}



.hidden{
    display: none;
    pointer-events: none;
}

input{
    width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
    border: 2px solid #ccc;
	outline: none;
	border-radius: 7px;
}

input[type="file"]{
    color: white;
}

.control input[type="button"],
.control input[type="submit"]
{
    width: 40%;
	height: 24px;
	margin: 20px auto;
	justify-content: center;
	display: flex;
    background-color: rgb(172, 184, 17);
    color: white;
	font-size: 10px;
	font-weight: bold;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.control input[type="submit"]:hover,
.control input[type="button"]:hover
{
    cursor: pointer;
    opacity: 1;
}

.link{
    text-align: center;
    font-size: 20px;
}

.link a {
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
    
}

.link a:hover {
    opacity: 1;   
}

input[type = radio]{
    display: none;
}

.radioDiv{
    margin-top: 20px;
}
      
.radioLabel {
    position: relative;
    color: forestgreen;
    font-family: "roboto",sans-serif;
    font-size: 25px;
    border: 2px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    }



input[type="radio"]:checked + label{
    background-color:forestgreen;
    color: white;
}

input[type="radio"]:checked + label:before{
    height: 16px;
    width: 16px;
    border: 10px solid forestgreen;
    background-color: white;
}

textarea{
    width: 100%;
    font-size: 25px;
    font-family: "roboto",sans-serif;
}
